body {
  max-width: 1000px;
}

.body {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.title {
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
}